<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.makeramen.nowdothis">
	<application
		android:icon="@drawable/nowdothis"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar">
		<activity
			android:name=".ItemView"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".EditList">
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="3" />
</manifest>
